---
import Remember from "./Remember.astro";
interface Props {
  name: string;
  side: string;
  lang?: "es" | "de";
}
const { name, side, lang = "es" } = Astro.props;
---
<div class="p-8 bg-slate-900/50 rounded-3xl border border-white/5 shadow-2xl">
  <h3 class="mb-6 text-xl font-bold text-blue-500 uppercase">
    {name} <span class="text-white font-medium">({side})</span>
  </h3>
  <div class="space-y-6 font-mono text-[12px] leading-[1.2]">
    <Remember lang={lang} />
    <slot />
  </div>
</div>